<div class="container">
  <h1>Welcome to the Bukumuka!</h1>
  <p>We are the pirated version of Facebook!</p>

  <img src="http://2.bp.blogspot.com/-NA8B2txzxwI/T4u9Lluwc6I/AAAAAAAAAEc/8oJ47pPfLhE/s1600/MukaBuku+logo.jpg" alt="Smiley face" align="middle" width="500">

    <form action="/login" method="post">
    <br>Log In <br>
    <input type="text" name="username" value="Username">
    <br>
    <input type="text" name="password" value="Password">
    <input type="submit" value="Submit">
  </form>
  <br>
  <a href="/users/signup" >Create Your Account</a>

</div>