<div class="container">
   <img src="http://2.bp.blogspot.com/-NA8B2txzxwI/T4u9Lluwc6I/AAAAAAAAAEc/8oJ47pPfLhE/s1600/MukaBuku+logo.jpg" alt="Smiley face" align="middle" width="500">

    <form action="/users/signup" method="post">
    Create an account with Mukabuku, it takes less than 20 seconds!<br>
    <input type="text" name="username" value="Username">
    <br>
    <input type="text" name="password" value="Password">
    <br><br>Set Up Your Public Profile!<br>
    <input type="text" name="name" value="Name">
    <br>
    <input type="text" name="age" value="Age">
    <br>
    <input type="text" name="description" value="Describe Yourself">
    <input type="submit" value="Submit">
  </form>
  <br>

</div>